._small-container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

._big-container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


body {
    font-size: 16px;
    line-height: 20px;
    @extend %rubik-400;
    color: $main;
    display: flex;
    flex-direction: column
}

.main {
    flex-grow: 1;
}


@import 'header/header';
@import 'footer/footer';



